{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Meet adequate on-street parking criteria?"
          },
          value: {
            text: data['adequate-onstreet-parking']
          },
          actions: {
            items: [
              {
                href: "/adequate-onstreet-parking",
                text: "Change",
                visuallyHiddenText: "do you meet adequate on-street parking criteria?"
              }
            ]
          }
        }
        ,
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['application-name']
            },
            actions: {
              items: [
                {
                  href: "/application-name",
                  text: "Change",
                  visuallyHiddenText: "enter your name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email Address"
            },
            value: {
              text: data['application-email']
            },
            actions: {
              items: [
                {
                  href: "/application-email",
                  text: "Change",
                  visuallyHiddenText: "enter your email address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Property Address"
            },
            value: {
              text: data['address']
            },
            actions: {
              items: [
                {
                  href: "/enter-postcode",
                  text: "Change",
                  visuallyHiddenText: "enter property address"
                }
              ]
            }
          },
          {
            key: {
              text: "Vehicle Registration Number (VRN)"
            },
            value: {
              text: data['enter-VRN']
            },
            actions: {
              items: [
                {
                  href: "/enter-VRN",
                  text: "Change",
                  visuallyHiddenText: "enter vehicle registration number"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
