{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <form class="form" action="/enter-postcode" method="post">
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "What is your Vehicle Registration Number (VRN)?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      id: "enter-VRN",
      name: "enter-VRN",
      value: data['enter-VRN']
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

{% endblock %}
